<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://wallpapercave.com/wp/wp8952307.png);">
  <div class="container">
    <h1>The place in which you can <strong>create several</strong> Star Wars <strong>lists</strong>!</h1>
    <p>You can create the list with best and worst movies. May the force be with you</p>
    <%= link_to "Create List", new_list_path, class:"btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div class="list-container">
    <div class="list-container-item">
      <div class="card-product">
      <img src="https://gamerheadquarters.com/sort/movies/starwars/starwars.jpg" />
      <div class="card-product-infos">
        <h2>
          <% @lists.each do |list| %>
          <%= link_to list.name, list_path(list), class:"btn btn-flat"%>
          <% end %>
        </h2>
      </div>
    </div>
   </div>
  </div>
</div>




